nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    text-align: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;         
}

.active a{
    color: red;
}

nav ul li a:hover {
    background-color: green;
}

nav {
    position: sticky;
    top: 0;
}


#static{
    position:static;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

#relative{
    position: relative;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    top: 50px;
    left: 20px;
}

#fixed{
    position: fixed;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    top: 50px;
    right: 20px;
}

#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    top: 100px;

}

#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aqua;
    top: 50px;
    left: 50px;

}

